* {
    box-sizing: border-box;
}

h1 {
    font-size: 22px;
    text-align: center;
}

body>a:first-of-type {
    /*Посилання назад на головну*/
    font-style: italic;
}

h3:first-of-type {
    /*Заголовок Зміст*/
    text-align: center;
}

a.inContentHref {
    /*Посилання в Змісті*/
    text-decoration: none;
    background-color: blue;
    border: 1px solid black;
    color: yellow;
    display: block;
    width: 150px;
    text-align: center;
    margin-bottom: 1px;
}

a.inContentHref:hover {
    /*Посилання в Змісті*/
    background-color: magenta;
    color: black;
}

a.inContentHref:active {
    /*Посилання в Змісті*/
    background-color: yellow;
    color: blue;
}

article {
    font-size: 120%;
    border: solid 1px black;
}

article>h2 {
    font-size: 1.5em*120%;
}

.articleBlock:nth-of-type(1) article {
    background-color: gray;
}

.articleBlock:nth-of-type(2) article {
    background-color: gainsboro;
}

.articleBlock:nth-of-type(3) article {
    background-color: ghostwhite;
}

.articleBlock:nth-of-type(4) article {
    background-color: whitesmoke;
}

.articleBlock:nth-of-type(5) article {
    background-color: wheat;
}

a.toContentHref {
    font-weight: bold;
    display: inline-block;
    height: max-content;
}

body>a:last-of-type {
    text-transform: uppercase;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.articleBlock article {
    padding: 1%;
}

/*Desktop*/
@media (min-width: 993px) {

    .col-ld-1,
    .col-ld-2,
    .col-ld-3,
    .col-ld-4,
    .col-ld-5,
    .col-ld-6,
    .col-ld-7,
    .col-ld-8,
    .col-ld-9,
    .col-ld-10,
    .col-ld-11,
    .col-ld-12 {
        padding: 1%;
    }

    .col-ld-1 {
        flex: 8.33%;
    }

    .col-ld-2 {
        flex: 16.66%;
    }

    .col-ld-3 {
        flex: 25%;
    }

    .col-ld-4 {
        flex: 33.33%;
    }

    .col-ld-5 {
        flex: 41.66%;
    }

    .col-ld-6 {
        flex: 50%;
    }

    .col-ld-7 {
        flex: 58.33%;
    }

    .col-ld-8 {
        flex: 66.66%;
    }

    .col-ld-9 {
        flex: 75%;
    }

    .col-ld-10 {
        flex: 83.33%;
    }

    .col-ld-11 {
        flex: 91.66%;
    }

    .col-ld-12 {
        flex: 100%;
    }
}

/*Tablet*/
@media (min-width: 769px) and (max-width: 992px) {

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        padding: 1%;
    }

    .col-md-1 {
        flex: 8.33%;
    }

    .col-md-2 {
        flex: 16.66%;
    }

    .col-md-3 {
        flex: 25%;
    }

    .col-md-4 {
        flex: 33.33%;
    }

    .col-md-5 {
        flex: 41.66%;
    }

    .col-md-6 {
        flex: 50%;
    }

    .col-md-7 {
        flex: 58.33%;
    }

    .col-md-8 {
        flex: 66.66%;
    }

    .col-md-9 {
        flex: 75%;
    }

    .col-md-10 {
        flex: 83.33%;
    }

    .col-md-11 {
        flex: 91.66%;
    }

    .col-md-12 {
        flex: 100%;
    }
}

/*Mobile*/
@media (max-width: 768px) {

    .col-sd-1,
    .col-sd-2,
    .col-sd-3,
    .col-sd-4,
    .col-sd-5,
    .col-sd-6,
    .col-sd-7,
    .col-sd-8,
    .col-sd-9,
    .col-sd-10,
    .col-sd-11,
    .col-sd-12 {
        padding: 1%;
    }

    .col-sd-1 {
        flex: 8.33%;
    }

    .col-sd-2 {
        flex: 16.66%;
    }

    .col-sd-3 {
        flex: 25%;
    }

    .col-sd-4 {
        flex: 33.33%;
    }

    .col-sd-5 {
        flex: 41.66%;
    }

    .col-sd-6 {
        flex: 50%;
    }

    .col-sd-7 {
        flex: 58.33%;
    }

    .col-sd-8 {
        flex: 66.66%;
    }

    .col-sd-9 {
        flex: 75%;
    }

    .col-sd-10 {
        flex: 83.33%;
    }

    .col-sd-11 {
        flex: 91.66%;
    }

    .col-sd-12 {
        flex: 100%;
    }
}