* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.container>a:first-of-type {
    /*Посилання назад на головну*/
    font-style: italic;
}

h3:first-of-type {
    /*Заголовок Зміст*/
    text-align: center;
}

a.inContentHref {
    /*Посилання в Змісті*/
    text-decoration: none;
    background-color: blue;
    border: 1px solid black;
    color: yellow;
    display: block;
    width: 150px;
    text-align: center;
    margin-bottom: 1px;
}

a.inContentHref:hover {
    /*Посилання в Змісті*/
    background-color: magenta;
    color: black;
}

a.inContentHref:active {
    /*Посилання в Змісті*/
    background-color: yellow;
    color: blue;
}

article {
    font-size: 120%;
    border: solid 1px black;
}

article>h2 {
    font-size: 1.5em*120%;
}

.articleBlock:nth-of-type(1) article {
    background-color: gray;
}

.articleBlock:nth-of-type(2) article {
    background-color: gainsboro;
}

.articleBlock:nth-of-type(3) article {
    background-color: ghostwhite;
}

.articleBlock:nth-of-type(4) article {
    background-color: whitesmoke;
}

.articleBlock:nth-of-type(5) article {
    background-color: wheat;
}

a.toContentHref {
    font-weight: bold;
    display: inline-block;
    height: max-content;
}

.container>a:last-of-type {
    text-transform: uppercase;
}

/*Tablet*/
@media (min-width: 768px) {
    .articleBlock article {
        padding: 1%;
        height: 95%;
        min-height: max-content;
    }

    .articleBlock h3 {
        height: 5%;
    }
}

@media (min-width: 1200px) {
    .articleBlock article {
        min-height: 97%;
    }

    .articleBlock h3 {
        height: 3%;
    }

}